Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

XTerm*renderFont: true
XTerm*faceName: xft:Mononoki Nerd Font, \
                xft:JoyPixels:size=12, \
                xft:Monospace:style=Medium:size=12   
XTerm*faceSize: 11
XTerm*utf8: 2
XTerm*locale: true

XTerm.vt100.translations: #override \n\
  Ctrl <Key> j: smaller-vt-font() \n\
  Ctrl <Key> k: larger-vt-font()


! Every shell is a login shell by default (for inclusion of all necessary environment variables)
XTerm*loginshell: true

! I like a LOT of scrollback...
XTerm*savelines: 16384

! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

URxvt*imLocale: en_US.UTF-8
URxvt*termName: rxvt-unicode-256color
URxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font: xft:Mononoki Nerd Font:size=12, \
            xft:JoyPixels:size=12, \
            xft:Monospace:style=Medium:size=12   
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.cursorColor: white

!! Extensions
URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select,clipboard
URxvt.colorUL: #4682B4
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.keysym.C-k:   font-size:increase
URxvt.keysym.C-j:   font-size:decrease
!! Matcher
URxvt.url-launcher:	urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.matcher.button: 1
!!clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt*depth: 32

#define oxide_00_black      	#212121
#define oxide_01_red        	#e57373
#define oxide_02_green      	#a6bc69
#define oxide_03_yellow     	#fac863
#define oxide_04_blue       	#6699cc
#define oxide_05_magenta    	#c594c5
#define oxide_06_cyan       	#5fb3b3
#define oxide_07_white      	#c0c5ce
#define oxide_08_bright_black   #5c5c5c
#define oxide_15_bright_white   #f3f4f5

URxvt*foreground:   oxide_07_white
URxvt*background:   [95]oxide_00_black
URxvt*cursorColor:  oxide_07_white

XTerm*foreground: oxide_07_white
XTerm*background: oxide_00_black
XTerm*cursorColor: oxide_07_white

! black
*.color0:       oxide_00_black
*.color8:       oxide_08_bright_black

! red
*.color1:       oxide_01_red
*.color9:       oxide_01_red

! green
*.color2:       oxide_02_green
*.color10:      oxide_02_green

! yellow
*.color3:       oxide_03_yellow
*.color11:      oxide_03_yellow

! blue
*.color4:       oxide_04_blue
*.color12:      oxide_04_blue

! magenta
*.color5:       oxide_05_magenta
*.color13:      oxide_05_magenta

! cyan
*.color6:       oxide_06_cyan
*.color14:      oxide_06_cyan

! white
*.color7:       oxide_07_white
*.color15:      oxide_15_bright_white

